In [4]:
import pandas as pd

In [44]:
import tabula
pdf_path="https://www.sec.gov/files/investment/13flist2023q3.pdf"
dfs=tabula.read_pdf(input_path=pdf_path,pages=3)

In [49]:
pd.DataFrame(dfs[0])

,B38564 10 8,*,EURONAV NV,SHS,Unnamed: 0
0,B38564 90 8,NaN,EURONAV NV,CALL,NaN
1,B38564 95 8,NaN,EURONAV NV,PUT,NaN
2,B6S7WD 10 6,NaN,NYXOAH S A,SHS,NaN
3,C00948 10 6,*,AGRIFORCE GROWING SYSTEMS LT,COM,NaN
4,C00948 90 6,NaN,AGRIFORCE GROWING SYSTEMS LT,CALL,NaN
5,C00948 95 6,NaN,AGRIFORCE GROWING SYSTEMS LT,PUT,NaN
6,C00948 11 4,NaN,AGRIFORCE GROWING SYSTEMS LT,*W EXP 02/01/202,NaN
7,C96657 11 6,NaN,VISION MARINE TECHNOLOGIES I,COM,NaN
8,D18190 89 8,*,DEUTSCHE BANK A G,NAMEN AKT,NaN
9,D18190 90 8,NaN,DEUTSCHE BANK A G,CALL,NaN
10,D18190 95 8,NaN,DEUTSCHE BANK A G,PUT,NaN
11,F21107 10 1,*,CONSTELLIUM SE,CL A SHS,NaN
12,F21107 90 1,NaN,CONSTELLIUM SE,CALL,NaN
13,F21107 95 1,NaN,CONSTELLIUM SE,PUT,NaN
14,G0R45S 10 9,NaN,AIB ACQUISITION CORPORATION,CLASS A ORD,NaN
15,G0R45S 11 7,NaN,AIB ACQUISITION CORPORATION,RIGHT 10/31/2028,NaN
16,G0R45S 12 5,NaN,AIB ACQUISITION CORPORATION,UNIT 12/15/2026,NaN
17,G0083E 10 2,NaN,ACE GLOBAL BUSINESS ACQU LTD,ORDINARY SHARES,NaN
18,G0083E 11 0,NaN,ACE GLOBAL BUSINESS ACQU LTD,*W EXP 02/20/202,NaN
19,G0083E 12 8,NaN,ACE GLOBAL BUSINESS ACQU LTD,UNIT 03/26/2026,NaN
20,G0084W 10 1,*,ADIENT PLC,ORD SHS,NaN
21,G0084W 90 1,NaN,ADIENT PLC,CALL,NaN
22,G0084W 95 1,NaN,ADIENT PLC,PUT,NaN
23,G0085J 10 9,NaN,ADS TEC ENERGY PLC,*W EXP 12/22/202,NaN
24,G0085J 11 7,NaN,ADS TEC ENERGY PLC,SHS,NaN
25,G01109 10 0,NaN,AFTERNEXT HEALTHTECH ACQUISI,SHS CL A,DELETED
26,G01109 11 8,NaN,AFTERNEXT HEALTHTECH ACQUISI,UNIT 99/99/9999,DELETED
27,G01109 12 6,NaN,AFTERNEXT HEALTHTECH ACQUISI,*W EXP 99/99/999,DELETED
28,G0112R 10 8,NaN,AFRICAN GOLD ACQUISITION COR,SHS CL A,DELETED
29,G0112R 11 6,NaN,AFRICAN GOLD ACQUISITION COR,UNIT 99/99/9999,DELETED
30,G01125 10 6,*,AFYA LTD,CL A COM,NaN

In [47]:
dfs[0]

,B38564 10 8,*,EURONAV NV,SHS,Unnamed: 0
0,B38564 90 8,NaN,EURONAV NV,CALL,NaN
1,B38564 95 8,NaN,EURONAV NV,PUT,NaN
2,B6S7WD 10 6,NaN,NYXOAH S A,SHS,NaN
3,C00948 10 6,*,AGRIFORCE GROWING SYSTEMS LT,COM,NaN
4,C00948 90 6,NaN,AGRIFORCE GROWING SYSTEMS LT,CALL,NaN
5,C00948 95 6,NaN,AGRIFORCE GROWING SYSTEMS LT,PUT,NaN
6,C00948 11 4,NaN,AGRIFORCE GROWING SYSTEMS LT,*W EXP 02/01/202,NaN
7,C96657 11 6,NaN,VISION MARINE TECHNOLOGIES I,COM,NaN
8,D18190 89 8,*,DEUTSCHE BANK A G,NAMEN AKT,NaN
9,D18190 90 8,NaN,DEUTSCHE BANK A G,CALL,NaN
10,D18190 95 8,NaN,DEUTSCHE BANK A G,PUT,NaN
11,F21107 10 1,*,CONSTELLIUM SE,CL A SHS,NaN
12,F21107 90 1,NaN,CONSTELLIUM SE,CALL,NaN
13,F21107 95 1,NaN,CONSTELLIUM SE,PUT,NaN
14,G0R45S 10 9,NaN,AIB ACQUISITION CORPORATION,CLASS A ORD,NaN
15,G0R45S 11 7,NaN,AIB ACQUISITION CORPORATION,RIGHT 10/31/2028,NaN
16,G0R45S 12 5,NaN,AIB ACQUISITION CORPORATION,UNIT 12/15/2026,NaN
17,G0083E 10 2,NaN,ACE GLOBAL BUSINESS ACQU LTD,ORDINARY SHARES,NaN
18,G0083E 11 0,NaN,ACE GLOBAL BUSINESS ACQU LTD,*W EXP 02/20/202,NaN
19,G0083E 12 8,NaN,ACE GLOBAL BUSINESS ACQU LTD,UNIT 03/26/2026,NaN
20,G0084W 10 1,*,ADIENT PLC,ORD SHS,NaN
21,G0084W 90 1,NaN,ADIENT PLC,CALL,NaN
22,G0084W 95 1,NaN,ADIENT PLC,PUT,NaN
23,G0085J 10 9,NaN,ADS TEC ENERGY PLC,*W EXP 12/22/202,NaN
24,G0085J 11 7,NaN,ADS TEC ENERGY PLC,SHS,NaN
25,G01109 10 0,NaN,AFTERNEXT HEALTHTECH ACQUISI,SHS CL A,DELETED
26,G01109 11 8,NaN,AFTERNEXT HEALTHTECH ACQUISI,UNIT 99/99/9999,DELETED
27,G01109 12 6,NaN,AFTERNEXT HEALTHTECH ACQUISI,*W EXP 99/99/999,DELETED
28,G0112R 10 8,NaN,AFRICAN GOLD ACQUISITION COR,SHS CL A,DELETED
29,G0112R 11 6,NaN,AFRICAN GOLD ACQUISITION COR,UNIT 99/99/9999,DELETED
30,G01125 10 6,*,AFYA LTD,CL A COM,NaN

In [23]:
from tabulate import tabulate
tabulate(dfs)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().